/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-top: 50px; /* Ajustez selon votre préférence */
    color: #333;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
    color: #666;
}

/* Styles spécifiques pour les éléments */
/* Vous pouvez ajouter d'autres styles selon vos besoins */
